#PATH="/usr/local/bin:/usr/local/opt/coreutils/libexec/gnubin:$PATH"
#export PATH
MANPATH="/opt/homebrew/manpages/:$MANPATH"
export MANPATH

export EDITOR=vim
export HISTTIMEFORMAT="%d/%m/%Y %T : "
export PAGER=most

export PERL_MM_USE_DEFAULT=1
